/***********************
 		  MOBILE FIRST
***********************/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#287372+0,48bbab+100 */
  background: #287372; /* Old browsers */
  background: -moz-linear-gradient(top,  #287372 0%, #48bbab 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #287372 0%,#48bbab 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #287372 0%,#48bbab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#287372', endColorstr='#48bbab',GradientType=0 ); /* IE6-9 */
  padding-bottom: 0; }

ul, li{ list-style: none;}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9{
		margin: 0;
		padding: 0;
}

h1, h2, h3, h4, h5, h6{ font-size: 16px;}

#content{
  background: #FFF;
    height: 100%;
		padding-top: 0.9em;
    margin: 32px;
    margin-bottom: 0;
}


/* ======= NAVIGATION ======= */
#logo{
    display: block;
    margin: 0 auto;
}

.navbar-default{
    background: transparent;
    border: none;
    box-shadow: none;
		margin-bottom: 0;
}

.container{
    margin: 0;
    padding: 0;
}

.navbar-default .container{
    text-align: center;
    margin: 0;
    padding: 0;
		display: inline-block;
		width: 100%;
}

.navbar-default .container .navbar-collapse{
    padding: 0;
    /*padding-left: 50px;*/
		display: inline-block !important;
}

.navbar-nav{
    border: 3px solid #373636;
}

.navbar-default .navbar-nav>li>a{
  background-image: none !important;
  font-family: 'agendabold';
  color: #518083;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: none !important;
  padding-left: 1.36em;
  padding-right: 1.36em;
}

.navbar-default .navbar-nav>li>a:hover{
  text-decoration: underline;
  color: #518083;
}

.navbar-default .navbar-nav>.active>a{
    color: #0a0b0b;
    background-color: transparent !important;
}

.navbar-default .navbar-nav>.active>a:hover{
    color: #0a0b0b;
}

.navbar-default .navbar-nav>li .sous-menu{
  display: none;
  position: absolute;
  left: 10px;
  background: #fff;
  border-left: 15px solid #fff;
  border-right: 15px solid #fff;
  padding-left: 0;
  z-index: 1000;
}

.navbar-default .navbar-nav>li .one{ width: 172px; }
.navbar-default .navbar-nav>li .two{ width: 196px; }
.navbar-default .navbar-nav>li .three{ width: 125px; }

.navbar-default .navbar-nav>li .sous-menu li{
  list-style: none;
  color: #518083;
  border-top: 3px solid #0a0b0b;
  padding: 14px 0;
}

.navbar-default .navbar-nav>li .sous-menu li a{
    font-family: 'agendabold';
    color: #518083;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar-default .navbar-nav>li:hover .sous-menu{
    display: block;
}








/* ======= Blocs 1 ======= */

#intro{
		width: 1170px;
		margin: 0 auto;
		padding-top: 3em;
}

.row{
    margin: 0;
}

.row .col-lg-12{
    padding: 0;
    margin-bottom: 130px;
}

.row .col-lg-12:nth-child(2){
    margin-bottom: 0;
}

.row .col-lg-12 .col-lg-9 img{
    width: 100%;
}

.row .col-lg-12 .blocT{
    width: 370px;
    background: #FFF;
    position: absolute;
    right: 6em;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.5em;
		padding-bottom: 1.1em;
		margin-bottom: 65px;
}

.row .col-lg-12 .blocT h2{
    font-family: 'agendaregular';
    text-transform: uppercase;
		font-size: 2.6em;
}

.row .col-lg-12 .blocT h2 span{
    font-family: 'agendabold';
    text-transform: uppercase;
}

.row .col-lg-12 .col-lg-3{
		position: relative;
		top: 27.3em;
		padding-left: 1.5em;
}

.row .col-lg-12 .col-lg-3 img{
    width: 100%;
    height: 379px;
}

.row .col-lg-12 .col-lg-3 .blocT.one{
    width: 268.5px;
    background: #FFF;
    position: absolute;
    right: 0em;
    top: 27.9em;
    transform: translateY(-50%);
    padding: 0;
		margin-bottom: 0;
		padding-top: 1em;
}

.row .col-lg-12 .col-lg-3 .blocT.one h2{
    font-family: 'agendaregular';
    text-transform: uppercase;
		font-size: 1.9em;
}

.row .col-lg-12 .col-lg-3 .blocT.one h2 span{
    font-family: 'agendabold';
    text-transform: uppercase;
}


/* ======= Blocs 2 ======= */

.row .col-lg-12 > .col-lg-4{
    margin-right: 1.5em;
}

.row .col-lg-12 > .col-lg-4 > img{
    width: 100%;
}

.row .col-lg-12 > .col-lg-4:nth-child(2) h2{
    font-family: 'agendaregular';
    text-transform: uppercase;
    font-size: 2.1em;
}

.row .col-lg-12 > .col-lg-4:nth-child(2) h2 span{
    font-family: 'agendabold';
    text-transform: uppercase;
}

.row .col-lg-12 > .col-lg-4:nth-child(2) .col-lg-4{
    margin-left: 5.8em;
    margin-top: 270px;
}

.row .col-lg-12 > .col-lg-4:nth-child(3){
    margin-right: 0;
    width: 230px;
    margin-top: 530px;
    margin-left: 25px;
}

.row .col-lg-12 > .col-lg-4:nth-child(3) h2{
    font-family: 'agendaregular';
    text-transform: uppercase;
    font-size: 2.1em;
}

.row .col-lg-12 > .col-lg-4:nth-child(3) h2 span{
    font-family: 'agendabold';
    text-transform: uppercase;
}







#partenaires{
		width: 1170px;
    height: 704px;
		margin: 0 auto;
    background: url("../images/bg.jpg") no-repeat;
    position: relative;
}

#partenaires .col-lg-12{
  text-align: center;
  position: absolute;
  top: 115px;
}

#partenaires .col-lg-12 h2{
    font-family: 'agendaregular';
    text-transform: uppercase;
    font-size: 1.6em;
    text-align: right;
    padding-right: 0.9em;
}

#partenaires .col-lg-12 h2 span{
    font-family: 'agendabold';
}

#partenaires .col-lg-12 .rs .social{
    display: block;
    border-radius: 100%;
    background: #fff;
    width: 55px;
    height: 55px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    border: 4px solid #000;
    margin-bottom: 1.1em;
}

#partenaires .col-lg-12 .rs .social:nth-child(3){
    margin-bottom: 0;
}

#partenaires > .col-lg-6{
    margin-left: 330px;
    position: absolute;
    bottom: 195px;
}

#partenaires > .col-lg-6 h2{
    font-family: 'agendabold';
    text-transform: uppercase;
    font-size: 2.1em;
    color: #000;
}

#partenaires > .col-lg-6 .partenaires{
    background: #000;
    width: 90px;
    height: 90px;
    display: inline-block;
    margin: 20px 10px 0 0;
}

#partenaires > .col-lg-6 > .partenaires:nth-child(1){
    margin-left: 0;
}



footer{
    width: 1170px;
    margin: 0 auto;
    height: 115px;
    line-height: 115px;
    overflow: hidden;
    position: relative;
}

footer .col-lg-2{
    position: absolute;
    top: 50%;
    transform: translateY(-28%);
}

footer h3{
    font-family: 'agendaregular';
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
}


/************************************************
************************************************/

section{
    width: 1170px;
    margin: 0 auto;
}

#projet{ padding-top: 3.7em; }

section .bloc{
    padding: 0;
    padding-left: 23px;
    margin-bottom: 0;
}

#projet .bloc .col-lg-6, #spiruline .bloc .col-lg-12{
    padding: 0;
    margin-bottom: 0;
}

#spiruline .bloc .col-lg-12{
    margin-bottom: 9.9em;
}

#projet .bloc h2, #spiruline .bloc .col-lg-12 h2{
    font-family: 'agendaregular';
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 2.65em;
}

#projet .bloc h2 span, #spiruline .bloc .col-lg-12 h2 span{
    font-family: 'agendabold';
    text-transform: uppercase;
}

#projet .bloc p{
    font-family: 'agendaregular';
    font-size: 1.9em;
    margin-bottom: 2.5em;
}

#spiruline .bloc .col-lg-12 .col-lg-2{
    position: static;
    top: 0;
    padding-left: 0;
    margin-right: 5.3em;
    width: 21%;
}

#spiruline .bloc .col-lg-12 .col-lg-2 p{
    font-size: 3.5em;
    color: #a1eae6;
}

#spiruline .bloc .col-lg-12 .col-lg-10{
    width: 71.333333%;
}

#spiruline .bloc .col-lg-12 .col-lg-10 p, #origines .bloc .col-lg-12 .col-lg-6 p{
    font-family: 'agendaregular';
    font-size: 2.5em;
}

#spiruline .bloc .col-lg-12 .col-lg-10 p span, #origines .bloc .col-lg-12 .col-lg-6 p span{
    font-family: 'agendabold';
}

#origines .bloc .col-lg-12 .col-lg-6 p{ margin-left: 10px; }
