/***********************
 		  MOBILE FIRST
***********************/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#287372+0,48bbab+100 */
  background: #287372; /* Old browsers */
  background: -moz-linear-gradient(top,  #287372 0%, #48bbab 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #287372 0%,#48bbab 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #287372 0%,#48bbab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#287372', endColorstr='#48bbab',GradientType=0 ); /* IE6-9 */
  padding-bottom: 0; }

ul, li{ list-style: none;}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9{
		margin: 0;
		padding: 0;
}

.text-muted{ color: #191a1c; }
.text-success{ color: #a1eae6; }
.text-primary{ color: #88bcb6; }
.text-secondary{ color: #6a9b99; }
.text-tertiere{ color: #03d0c5; }


#content, #content-recettes{
    background: #FFF;
    height: 100%;
		padding: 1.1em;
    padding-bottom: 0;
    margin: 2.5%;
    margin-bottom: 0;
    overflow-x: hidden;
}



/* ======= NAVIGATION ======= */
#logo{
    display: block;
    margin: 0 auto;
}

.navbar-inverse{
    background: #FFF;
    border: none;
    box-shadow: none;
    /*margin: 2.5em;*/
    margin-bottom: 0;
}

.container{
    margin: 0;
    padding: 0;
}

.navbar-inverse .container{
    text-align: center;
    margin: 0;
    padding: 0;
		display: inline-block;
		width: 100%;
}

.navbar-inverse .container .navbar-collapse{
    padding: 0;
		display: inline-block !important;
}

.navbar-nav{
    border: 3px solid #373636;
}

.navbar-inverse .navbar-nav>li>a{
  background-image: none !important;
  font-family: 'agendabold';
  color: #518083;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: none !important;
  padding-left: 3.07em;
  padding-right: 3.07em;
}

.navbar-inverse .navbar-nav>li>a:hover{
  text-decoration: underline;
  color: #0a0b0b;
  text-decoration: none;
}

.navbar-inverse .navbar-nav>.active>a{
    color: #0a0b0b;
    background-color: transparent !important;
}

.navbar-inverse .navbar-nav>.active>a:hover{
    color: #0a0b0b;
}

.navbar-inverse .navbar-nav>li .sous-menu{
  display: none;
  position: absolute;
  left: 35px;
  background: #fff;
  /*border-left: 15px solid #fff;
  border-right: 15px solid #fff;*/
  padding-left: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px 1px #518083;
}

.navbar-inverse .navbar-nav>li .one{ width: 191px; }
.navbar-inverse .navbar-nav>li .two{ width: 220px; }
.navbar-inverse .navbar-nav>li .three{ width: 138px; }

.navbar-inverse .navbar-nav>li .sous-menu li{
  list-style: none;
  color: #518083;
  border-top: 3px solid #0a0b0b;
  padding: 14px 0;
}

.navbar-inverse .navbar-nav>li .sous-menu li a{
    font-family: 'agendabold';
    color: #518083;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar-inverse .navbar-nav>li:hover .sous-menu{
    display: block;
}

.navbar-inverse .navbar-nav>li .sous-menu li a{
    color: #0a0b0b;
}




/***********************
************************/

#contenu{
		width: 100%;
		padding-top: 3%;
    position: relative;
}

.row{ margin: 0; }
.title-content{ background: #FFF; }

#intro .col-lg-8{
    position: relative;
    margin-bottom: 6.4%;
}

.row .img-responsive{ width: 100%; }

.row .col-lg-8 .title-content{
    position: absolute;
    min-width: 220px;
    background: #FFF;
    right: -20%;
    top: 50%;
    transform: translateY(-50%);
    padding: 1% 1.73%;
}

.title-content h2{
    font-family: 'agendaregular';
    text-transform: uppercase;
		font-size: 2em;
}

.title-content h2 span{
    font-family: 'agendabold';
}

#spiruline .col-lg-4{ padding-left: 5.35%; }

#spiruline .col-lg-4 .title-content{
    background: #FFF;
    padding-top: 5.35%;
}

#spiruline{
    position: absolute;
    top: 350px;
    width: 100%;
}

#histoire{
    position: relative;
}

#histoire .col-lg-4{
    position: relative;
    padding: 0;
}

#histoire .col-lg-4 .title-content{
    position: absolute;
    top: 0;
    right: -100%;
    padding: 5.35% 2.2%;
    margin-right: 0;}
}

#histoire .col-xs-5{ display: none;}
#histoire .col-xs-5 .rs, #histoire .col-xs-5 .title-content{ display: none; }

#histoire .col-xs-5 .rs .social{
    display: block;
    border-radius: 100%;
    background: #fff;
    width: 55px;
    height: 55px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    border: 4px solid #191a1c;
    margin-bottom: 5%;
}

#histoire .col-xs-5 .rs .social:nth-child(3){
    margin-bottom: 0;
}

#histoire .col-xs-5 .title-content h2{
    text-align: right;
    margin-top: 12%;
    display: inline-block;
}

#projet{
    position: relative;
}

#projet .col-lg-4{
    position: absolute;
    top: -50px;
}

#projet .col-lg-4 img, #projet .col-lg-4 .title-content{
    padding-left: 5.35%;
}

#projet .col-lg-4 .title-content{
    position: absolute;
    top: 50%;
    right: -66%;
    transform: translateY(-50%);
    padding: 5.35% 2.2%;
}

#contenuB{
    position: relative;
    width: 100%;
    height: 704px;
    top: 470px;
    background: url("../images/bg.jpg") no-repeat;
}

#contenuB #social .title-content{
    top: 121px;
}

#contenuB #social .title-content h2{
    font-size: 1.5em;
}

#partenairs .col-lg-6{
    background: transparent;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

#partenairs .col-lg-6 h2{
    font-family: 'agendabold';
}

#partenairs .col-lg-6 .bloc{
    border: 5px solid #FFF;
    margin-top: 24px;
    padding: 9px 5px 24px 5px;
    width: 571px;
}

#partenairs .col-lg-6 .bloc .partenaires{
    background: #FFF;
    width: 99px;
    height: 99px;
    display: inline-block;
    margin-right: 10px;
}

#partenairs .col-lg-6 .bloc .partenaires:last-child{
    margin-right: 0;
}

#contenuB .col-lg-6 .bloc .partenaires:nth-child(1){
    margin-left: 0;
}

#contenuB #social .rs{
    position: absolute;
    right: -20px;
}

#contenuB #social .rs .social{
    display: block;
    border-radius: 100%;
    background: #fff;
    width: 55px;
    height: 55px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    border: 4px solid #000;
    margin-bottom: 1.1em;
}

#contenuB #social .rs .social:nth-child(3){
    margin-bottom: 0;
}




footer{
    width: 100%;
    margin: 0 auto;
    margin-left: 2.5%;
    height: 115px;
    line-height: 115px;
    overflow: hidden;
    position: relative;
}

footer .col-lg-2{
    position: absolute;
    top: 50%;
    transform: translateY(-28%);
}

footer h3{
    font-family: 'agendaregular';
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
}










/*===============================
=================================
          PAGE INTERIEURE
=================================
===============================*/



#content{
    /*padding-left: 90px;
    padding-right: 90px;*/
}

#recette-1, #recette-2{
    margin-bottom: 65px;
}

#recette-1{
    margin-top: 100px;
    margin-bottom: 185px;
}

h2.bold{
    font-family: 'agendabold';
}

.row .col-lg-6 .recettes .bold{
    font-family: 'agendabold';
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 35px;
    margin-top: 30px;
    line-height: 1.2;
}

.row .col-lg-6 .recettes p{
    font-family: 'agendaregular';
    font-size: 15px;
}

.row .col-lg-6 .title-content{
    margin-bottom: 15px;
}

.row > .col-lg-6:last-child{ padding-left: 20px; }
.row > .col-lg-6:first-child{ padding-left: 0; }


.col-lg-5 .rs, .col-lg-12 .rs{
    margin-top: 25px;
    border: 3px solid #a2eae6;
    padding: 10px 5px;
    text-align: right;
}

.col-lg-5 .rs .col-lg-11{
  font-family: 'agendaregular';
  font-size: 1.5em;
  text-align: center;
  line-height: 55px;
}

.col-lg-5 .rs .social, .rs .social{
    display: inline-block;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    /*border: 4px solid #000;*/
}

@media screen and (min-width: 1200px){
    .col-lg-11{ width: 84.666667%; }
}

.filtre{
    margin-bottom: 25px;
    margin-top: 60px;
}

.filtre .row ul{
    text-align: right;
}

.filtre .row ul li{
    display: inline-block;
    margin-left: 40px;
    background-image: url("../images/cuisine/ico-btn.jpg");
    background-repeat: no-repeat;
}

.filtre .row ul li a{
    font-family: 'agendaregular';
    font-size: 30px;
    text-transform: uppercase;
    line-height: 40px;
    padding-left: 90px;
}

.filtre .row ul li a:hover{
    text-decoration: none;
    color: #026965;
}

.filtre .row ul li a span{
    font-family: 'agendabold';
}

.filtre .row ul li a.active{
    color: #026965;
}

.bg-green.bottom img{
    display: block;
    margin: 0 60%;
}

.bg-green.top{
    position: absolute;
    top: 0;
    left: 60%;
}

.bg-green.middle{
    position: absolute;
    top: -180px;
    left: 60%;
    height: 250px;
    width: 200px;
    background: #c8f5ef;
}

.page{ position: relative; }
















/**
 * RESEAUX SOCIAUX
 */

footer .row .social, section .rs .social, #contenuB #social .rs{
  display: inline-block;
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  top: 8px;
  right: 38px;
}

#contenuB #social .rs{
    top: 65px;
}

section .rs .social{ right: 0; }

section .rs .social{ top: 0px;}


footer .row .social .bo-icon-wrap, section .rs .social .bo-icon-wrap, #contenuB #social .rs .bo-icon-wrap{
  text-align: center;
  margin: 0 auto;
  float: left;
}

#contenuB #social .rs .bo-icon-wrap{
  margin-bottom: 15px;
}


footer .row .social .bo-icon-wrap .fa, section .rs .social .bo-icon-wrap .fa, #contenuB #social .rs .bo-icon-wrap .fa{
  display: inline-block;
  position: relative;
  /*background: #fff;*/
  text-align: center;
  width: 55px;
  height: 55px;
  margin: 0 5px;
  border: 2px solid #3e58a3;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

section .rs .social .bo-icon-wrap .fa{
  width: 45px;
  height: 45px;
}


footer .row .social .bo-icon-wrap .fa:after, section .rs .social .bo-icon-wrap .fa:after,
#contenuB #social .rs .bo-icon-wrap .fa:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}


footer .row .social .bo-icon-wrap .fa:before, section .rs .social .bo-icon-wrap .fa:before,
#contenuB #social .rs .bo-icon-wrap .fa:before {
  display: block;
  font-size: 30px;
  line-height: 55px;
  -webkit-font-smoothing: antialiased;
}

section .rs .social .bo-icon-wrap .fa:before {
    font-size: 1em;
    line-height: 45px;
}


footer .row .social .bo-icon-effect .fa, section .rs .social .bo-icon-effect .fa,
#contenuB #social .rs .bo-icon-effect .fa{
  border: 2px solid #3e58a3;
  transition: color 0.3s;
}


footer .row .social .bo-icon-effect .fa.fa-facebook, section .rs .social .bo-icon-effect .fa.fa-facebook,
#contenuB #social .rs .bo-icon-effect .fa.fa-facebook{
  color: #3e58a3;
  border-color: #3e58a3;
}


footer .row .social .bo-icon-effect .fa.fa-twitter, #contenuB #social .rs .bo-icon-effect .fa.fa-twitter {
  color: #27a7e6;
  border-color: #27a7e6;
}


footer .row .social .bo-icon-effect .fa.fa-linkedin, #contenuB #social .rs .bo-icon-effect .fa.fa-linkedin {
  color: #0274B3;
  border-color: #0274B3;
}

footer .row .social .bo-icon-effect .fa:after, section .rs .social .bo-icon-effect .fa:after,
#contenuB #social .rs .bo-icon-effect .fa:after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  /*background: #fff;*/
  -moz-transition: -moz-transform 0.2s, opacity 0.3s;
  -o-transition: -o-transform 0.2s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
  transition: transform 0.2s, opacity 0.3s;
}

footer .row .social .bo-icon-effect .fa.fa-facebook:after, section .rs .social .bo-icon-effect .fa.fa-facebook:after,
#contenuB #social .rs .bo-icon-effect .fa.fa-facebook:after{
  background: #3e58a3;
}

footer .row .social .bo-icon-effect .fa.fa-twitter:after, #contenuB #social .rs .bo-icon-effect .fa.fa-twitter:after{
  background: #27a7e6;
}

footer .row .social .bo-icon-effect .fa.fa-linkedin:after, #contenuB #social .rs .bo-icon-effect .fa.fa-linkedin:after {
  background: #0274B3;
}

footer .row .social .bo-icon-effect .fa:hover, section .rs .social .bo-icon-effect .fa:hover,
#contenuB #social .rs .bo-icon-effect .fa:hover {
  color: #FFF;
  text-decoration: none;
}

footer .row .social .bo-icon-effect .fa:after, section .rs .social .bo-icon-effect .fa:after,
#contenuB #social .rs .bo-icon-effect .fa:after{
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0;
}

footer .row .social .bo-icon-effect .fa:hover:after, section .rs .social .bo-icon-effect .fa:hover:after,
#contenuB #social .rs .bo-icon-effect .fa:hover:after{
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
